.header {
    width: 100%; 
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-flow: row nowrap; 
    justify-content: center;
    width: 100%; 
    margin: auto; 
    background-color: white;

    &__row {
        width: 80%; 
        margin: auto;
        display: flex;
        flex-flow: row nowrap; 
        justify-content: space-between;
        align-items: center;
        height: 80px; 
        @media screen and (max-width: 600px) {
            padding: 0 16px; 
            width: 100%; 
        }
    }

    &__logo {
        font-family: 'arial';
        color: #0089d0; 
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 1px;
    }

    &__right {
        display: flex;
        flex-flow: row nowrap; 
    }

    &__link {
        color: gray; 
        font-size: 24px; 
        font-weight: 200; 
        transition: all .1s ease;

        &:hover {
            color: black; 
            transition: all .3s ease;
        }
    }
}